<!doctype html>
<html>
  
<body>
  <!-- nav.html을 첨부해줘 ejs파일에서만가능 아니면 jquery써야함-->
  <%- include('nav.html') %>

    <h4 class="m1-2 my-3 text-center"> 검색 목록 </h4>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <!-- 서버에서 가져온 할일 리스트 -->

    <div class="container">
      <ul class="list-group">
        <% for (var i=0; i < posts.length; i++){ %>
          <li class="list-group-item">
            <p>글번호 : <%= posts[i]._id %>
            </p>
            <h4> 할일 제목 : <%= posts[i].제목 %>
            </h4>
            <p> 할일 마감날짜 : <%= posts[i].날짜 %>
            </p>
            <button class="btn btn-danger delete" data-id="<%= posts[i]._id %> ">삭제</button>
          </li>
          <% } %>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $('#search').click(function () {
        var 입력한값 = $('#search-input').val()
        window.location.replace('/search?value=' + 입력한값) //url을 바꿔줘
      });

    </script>

    <script>

      $('.delete').click(function (e) {
        var 글번호 = e.target.dataset.id; //e.target은 지금 클릭한 것
        var 지금누른거 = $(this);          //this는 지금 이벤트 동작하는 곳
        $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: { _id: 글번호 },   //요청과 함께 보낼데이터, 지금 내가 클릭한 버튼의 id를 여기에 집어넣기
        }).done(function (결과) {
          //페이지를 강제로 새로고침해줘
          //삭제 버튼을 누른 <li>요소를 제거해줘, 안보이게 해줘
          console.log('성공했셈');
          지금누른거.parent('li').fadeOut();

        }).fail(function (xhr, textStatus, errorThrown) {
          //요청이 실패했을때 코드는 여기에
          console.log(xhr, textStatus, errorThrown);
        });
      })

    </script>

    <script src="/public/main.js" defer></script>

</body>

</html>
